.orange{background-color:#FF4000;
		position: static;
		width: 500px;
		height: 500px;
		}
.purple{background-color:#8904B1;
		position: relative;
		width: 300px;
		height: 300px;
		left: 100px;
		top: 100px;
		}
.yellow{background-color:#FFFF00;
		position: absolute;
		width: 150px;
		height: 150px;
		top:;
		left: 0px;
		}
